.products{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(337px, 1fr));
    gap: 30px;
}

.container h2{
    color: #000;
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 80px;
}

@media(max-width: 1470px){
    .container{
        padding: 50px 20px 44px;
    }
}

@media(max-width: 400px){
    .products{
        grid-template-columns: repeat(auto-fill, minmax(226px, 1fr));
    }
}