.container{
    background: linear-gradient(to left, #000000 0%, #00cc66 100%);
}

.discount{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.discount img{
    padding: 27px 0 0 90px;
    transition: 0.5s;
}

.discount_info{
    display: flex;
    flex-direction: column;
    gap: 46px;
    width: 473px;
    transition: 0.5s;
}

.title{
    display: flex;
    flex-direction: column;
    height: 160px;
    font-weight: 700;
    color: #FFF;
}

.title h2{
    font-size: 90px;
    letter-spacing: 2.7px;
}

.title p{
    font-size: 50px;
    letter-spacing: 1.6px;
}

.discount_get{
    display: flex;
    flex-direction: column;
}

.discount_get input{
    margin-bottom: 30px;
    width: 473px;
    height: 75px;
    border-radius: 25px;
    border: none;
    padding-left: 50px;
    font-weight: 600;
    font-size: 18px;
}

.discount_get button{
    width: 473px;
    height: 75px;
    border-radius: 25px;
    border: 2px solid #FFF;
    background: linear-gradient(223deg, #393 0%, #006300 100%);
    cursor: pointer;
    color: #FFF;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0.862px;
}

.error_text{
    color: rgb(250, 139, 139);
    text-align: end;
    font-size: 20px;
    padding-bottom: 10px;
  }

@media(max-width: 1200px){
    .discount img{
        padding: 27px 0 0 0px;
    }
}

@media(max-width: 1050px){
    .discount img{
        display: none;
    }

    .discount_get{
        padding-bottom: 63px;
    }

    .discount_info{
        width: 100%;
        display: flex;
        align-items: center;
    }
}

@media(max-width: 560px){
    .discount_info{
        gap: 0;
    }

    .title{
        height: 120px;
    }

    .title h2{
        font-size: 60px;
        letter-spacing: 0;
    }
    
    .title p{
        font-size: 28px;
        letter-spacing: 0;
    }

    .discount_get{
        width: 248px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;
    }

    .discount_get input{
        width: 100%;
        padding-left: 10px;
        height: 45px;
        border-radius: 10px;
    }

    .discount_get button{
        width: 100%;
        height: 45px;
        border-radius: 10px;
        font-size: 28px;
    }

    .error_text{
        font-size: 16px;
        padding-bottom: 10px;
      }
}