*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  overflow-x: hidden;
}

.animate{
  position: absolute;
  width: 100%;
}

input{
  font-family: Montserrat;
  color: #6C6C6C;
}

a{
  text-decoration: none;
  color: black;
}

.active a{
  color: white;
}

.active p{
  color: white;
}

.active h2{
  color: white;
}






