.container{
    background: url('../media/plants.jpg');
    background-size: cover;
    background-position: center;
    color: white;
}

.container_sale{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    height: 600px;
}


.h1{
    display: flex;
    flex-direction: column;
    font-size: 80px;
    padding-bottom: 60px;
}

.btn{
    padding: 25px 50px;
    border-radius: 13px;
    background: #FFFFFF;
    border: none;
    cursor: pointer;
    color: #2D2D2D;
    font-weight: 700;
    font-size: 25px;  
}

