.container{
    background: url('../media/plants.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    height: 600px;
    transition: 0.5s; 
}

.container_sale{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    height: 600px;
    transition: 0.5s;    
}

.title{
    display: flex;
    flex-direction: column;
    font-size: 80px;
    padding-bottom: 60px;
}

.btn{
    padding: 25px 50px;
    border-radius: 13px;
    background: #FFFFFF;
    border: none;
    cursor: pointer;
    color: #2D2D2D;
    font-weight: 700;
    font-size: 25px;  
}

.active .btn{
    color: #2D2D2D;
}

.btn:hover{
    background: rgb(219, 252, 217);
    box-shadow:
    0.3em 0.3em 1em rgb(64, 123, 61),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.5);
}

@media(max-width: 736px){
    .title{
        font-size: 60px;
    }
}

@media(max-width: 500px){
    .container{
        height: 300px;
        object-fit: contain;
        object-position: top;
    }

    .title{
        font-size: 40px;
        padding-bottom: 30px;
    }

    .btn{
        padding: 15px 30px;
        border-radius: 13px;
        font-size: 15px;  
    }

    .container_sale{
        height: 300px;
    }

}

@media(max-width: 380px){
    .title span{
        font-size: 20px;
    }

    .btn{
        padding: 10px 20px;
        border-radius: 10px;
        font-size: 15px;  
    }

    .container{
        height: 200px;
        object-fit: contain;
        object-position: top;
    }

    .container_sale{
        padding-left: 25px;
        height: 100%;
    }

    .title{
        padding-bottom: 20px;
    }
   
}