.products{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(337px, 1fr));
    gap: 30px;
}

@media(max-width: 400px){
    .products {
        grid-template-columns: repeat(auto-fill, minmax(226px, 1fr));
    }
}
